@page "/catalog/packages/{PackageName}"
@page "/catalog/packages/{PackageName}/apis/{ApiGuidText}"
@page "/catalog/packages/{PackageName}/{PackageVersion}"
@page "/catalog/packages/{PackageName}/{PackageVersion}/apis/{ApiGuidText}"

@if (Package is null)
{
    <div class="container-fluid ">
        <div class="alert alert-primary mt-2">
            <p>Package '@PackageName' doesn't exist.</p>
        </div>
    </div>
}
else
{
    <div class="container-fluid px-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><Glyph Kind="GlyphKind.Database" /> <a href="@Link.ForCatalog()">Catalog</a></li>
                <li class="breadcrumb-item"><a href="@Link.ForPackages()">Packages</a></li>
                <li class="breadcrumb-item"><Glyph Kind="GlyphKind.Package" /> <a href="@Link.For(Package.Value)">@Package.Value.Name</a></li>
                @if (OutlineData is ApiOutlineNode node)
                {
                    foreach (var b in node.Breadcrumbs)
                    {
                        IApiOutlineOwner owner = this;
                        <li class="breadcrumb-item"><Glyph Kind="b.Kind.GetGlyph()" /> <a href="@owner.Link(b)">@b.Name</a></li>
                    }
                }
            </ol>
        </nav>
    </div>
    
    <div class="container-fluid">
    
        <ul class="nav nav-tabs mb-2">
            @{
                var apisActiveClass = CurrentPage == "apis" ? "active" : "";
                var assembliesActiveClass = CurrentPage == "assemblies" ? "active" : "";
                var versionsActiveClass = CurrentPage == "versions" ? "active" : "";
            }
            <li class="nav-item">
                <a class="nav-link @apisActiveClass" href="@NavigationManager.GetUriWithQueryParameter("p", "apis")">APIs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @assembliesActiveClass" href="@NavigationManager.GetUriWithQueryParameter("p", "assemblies")">Assemblies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @versionsActiveClass" href="@NavigationManager.GetUriWithQueryParameter("p", "versions")">Versions</a>
            </li>
        </ul>
        
        @if (CurrentPage == "apis")
        {
            if (OutlineData is not null)
            {
                <ApiOutline Data="OutlineData" Owner="this"/>
            }
        }
        else if (CurrentPage == "assemblies")
        {
            <ul class="list-unstyled">
                @foreach (var (framework, assemblies) in Assemblies)
                {
                    <li>
                        <Glyph Kind="GlyphKind.Framework" />
                        <a href="@Link.For(framework)">@framework.Name</a>
                        <ul class="list-unstyled ml-3">
                            @foreach (var assembly in assemblies)
                            {
                                <li>
                                    <Glyph Kind="GlyphKind.Assembly" /> <a href="@Link.For(assembly)">@assembly.ToString()</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
        else if (CurrentPage == "versions")
        {
            <ul class="list-unstyled">
                @foreach (var package in Versions)
                {
                    <li>
                        @if (package == Package)
                        {
                            <Glyph Kind="GlyphKind.Package" /> <strong>@package.Version</strong>
                        }
                        else
                        {
                            <Glyph Kind="GlyphKind.Package" /> <a href="@Link.For(package)">@package.Version</a>
                        }
                    </li>
                }
            </ul>
        }
    </div>
}